<section class="mainContent full-width clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12">
        <div class="panel panel-default formPanel">
          <div class="panel-heading bg-color-1 border-color-1">
            <h3 class="panel-title">修改帳號與密碼</h3>
          </div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
              <div class="form-group formField">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="form-group formField">
                <i>(如果您不想變更現在的密碼，請留空白)</i>
                <% if @minimum_password_length %>
                  <%= f.password_field :password, placeholder:"新密碼 (最短#{@minimum_password_length}個字)", autocomplete: "new-password", class:"form-control" %>
                <% else %>
                  <%= f.password_field :password, placeholder:"新密碼", autocomplete: "new-password", class:"form-control" %>
                <% end %>
              </div>

              <div class="form-group formField">
                <%= f.password_field :password_confirmation, placeholder:"再次確認新密碼", autocomplete: "new-password", class:"form-control" %>
              </div>

              <div class="form-group formField">
                <i>(需要你輸入現在的密碼，來確認您的修改)</i>
                <%= f.password_field :current_password, placeholder:"現在的密碼", autocomplete: "current-password", class:"form-control" %>
              </div>

              <div class="form-group formField">
                <%= f.submit "儲存修改" ,class:"btn btn-primary btn-block bg-color-3 border-color-3"%>
              </div>
            <% end %>
            <p class="help-block">
              <%= link_to "返回", :back %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
