<section class="mainContent full-width clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12 pull-left">
        <div class="tabCommon tabLeft pull-right hidden-xs">
          <ul class="nav nav-tabs">
            <% @groups.each { |key, value| %>
            <li class=<%= (key == @group_attr.keys.first) ? 'active' : nil %>><%= link_to value[:display], groups_path(key) %><li>
            <% } %>
          </ul>
        </div>
        <div class="tabCommon visible-xs">
          <ul class="nav nav-tabs visible-xs">
            <% @groups.each { |key, value| %>
            <li class=<%= (key == @group_attr.keys.first) ? 'active' : nil %>><%= link_to value[:display], groups_path(key) %><li>
            <% } %>
          </ul>
        </div><br><br><br>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-12 pull-right">
        <%= render partial: "shared/user_intro_list", locals:{ users: @group_users}  %>
      </div>  
    </div>
  </div>
</section>


