<section class="pageTitleSection">
  <div class="container">
    <div class="pageTitleInfo">
      <h2>分齡玩伴</h2>
    </div>
  </div>
</section>

<section class="mainContent full-width clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="tabCommon">
          <ul class="nav nav-tabs">
            <% @groups.each { |key, value| %>
            <li class=<%= (key == @group_attr.keys.first) ? 'active' : nil %>><%= link_to value[:display], groups_path(key) %><li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="whiteSection full-width clearfix p-t-n">
  <div class="container">
    <div class="row">
    <% @group_users.each do |user| %>
      <div class="col-sm-4 col-xs-12">
        <div class="teamContent teamAdjust">    
          <div class="teamImage">
          <%= image_tag user.avatar, alt:"img", class:"img-circle img-responsive" %>
          </div>
          <div class="teamInfo teamTeacher"> 
            <h3><%= link_to user.name, user_path(user) %></h3>
            <p><%= user.kid_age %>歲孩子的玩伴</p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>


