<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label "Kid's birthday:" %><br />
    <%= form.date_select :kid_birth, {order: [:year, :month, :day ], prompt: { year: '西元年', month: '月份', day: '日期'  }, start_year: Date.today.year, end_year: Date.today.year - 12, use_two_digit_numbers: true} %>
  </div>

  <div class="field">
    <%= form.label :intro %>
    <%= form.text_area :intro %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
