<%= render partial: "shared/user_info", locals:{user:@user}  %>

<section class="whiteSection full-width clearfix p-t-n">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="tabCommon">
          <ul class="nav nav-tabs">
            <li><%= link_to "收藏(#{@user.favorites_count})", user_path %></li>
            <li><%= link_to "發表(#{@user.games_count})", games_user_path %></li>
            <li class="active"><%= link_to "回應(#{@user.replies_count})", replies_user_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: "shared/game_list", locals:{games: @replied_games} %>
