<%= render partial: "shared/user_info", locals:{user:@user}  %>

<p><%= link_to "收藏", user_path %>(<%= @user.favorites_count %>)</p>
<p><%= link_to "發表", games_user_path %>(<%= @user.games_count %>)</p>
<p>回應(<%= @user.replies_count %>)</p>
<hr>

<div>
  <p>回應的遊戲清單</p>
  <% @replied_games.each do |game| %>
    <% if @user.email == current_user.email %>
      <%= link_to "看回應", game_path(game) %>
    <% end %>
    <p>標題:<%= game.title %></p>
    <p>發表者：<%= game.user.name %></p>
    <p>收藏數：<%= game.favorites.size %></p>
    <p>回應數：<%= game.replies.size %></p>
    <p>遊戲圖片:<%= image_tag game.image %></p>
    <p>適玩情境：
      <% game.situation_games.each do |situation_game| %>
        <%= situation_game.situation.condition %>
      <% end %>
    </p>
    <p>適合年齡：
      <% game.age_games.each do |age_game| %>
        <%= age_game.age.name %>
      <% end %>
    </p>
    <p>遊戲道具：<%= game.tool %></p>
    <p>遊戲方式：<%= game.step %></p>
    <hr>
  <% end %>
</div>
