<%= render partial: "shared/user_info", locals:{user:@user}  %>

<section class="whiteSection full-width clearfix p-t-n">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="tabCommon">
          <ul class="nav nav-tabs">
            <li class="active"><%= link_to "收藏(#{@user.favorites_count})", user_path(@user) %></li>
            <li><%= link_to "發表(#{@user.games_count})", games_user_path(@user) %></li>
            <li><%= link_to "回應(#{@user.replies_count})", replies_user_path(@user) %></li>
            <li><%= link_to "#{@user == current_user ? '我' : @user.name}的關注名單", followships_user_path(@user) %></li>
            <% if @user == current_user %>
              <li><%= link_to "悄悄話 (#{current_user.notifications.size}未讀)", messages_user_path(current_user) %></li>
            <% end %>   
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: "shared/game_list", locals:{games: @favorited_games} %>

