
    <section class="mainContent full-width clearfix">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 block">
            <div class="thumbnail thumbnailContent">
              <%= image_tag game.image, class:"img-responsive" %>
               <% if current_user && game.suitable_age?(current_user) %>
                <div class="sticker-round bg-color-1">
                  適齡
                </div>
              <% end %>
              <div class="caption border-color-1 singleBlog">
                <h3 class="color-<%= game.situation_games.first.situation_id %>"><%= game.title %></h3>
                <p class="pull-rignt"><%= time_tag game.created_at %></p>
                <ul class="list-inline blogInfo">
                  <ul class="list-inline">
                    <li>發表者：
                        <i class="fa fa-user-edit" aria-hidden="true"></i>
                      <%= link_to game.user.name, user_path(game.user) %>
                    </li>
                    
                    <li>
                      <i class="far fa-heart" aria-hidden="true"></i>
                      收藏數：
                        <%=  game.favorites_count %>
                    </li>
                    <li>
                      <i class="far fa-comment" aria-hidden="true"></i>
                      回應數：
                        <%=  game.replies_count %>
                    </li>
                    <li>
                      <%= '<i class="far fa-hashtag" aria-hidden="true"></i>'if game.tags.present? %>
                      <% game.tags.each do |tag| %>
                      <span class="label label-default"><%= link_to tag.name, "/games/hashtag/#{tag.name}" %></span>
                    <% end %>
                    </li>
                  </ul> 
                  <li>
                    <i class="fa fa-child" aria-hidden="true"></i>
                    適合年齡：
                    <% game.age_games.each do |age_game| %>
                      <%=  age_game.age.name %>
                    <% end %>
                  </li>
                  <li>
                    <i class="fa fa-theater-masks" aria-hidden="true"></i>
                    適玩情境：
                    <% game.situation_games.each do |situation_game| %>
                      <%= situation_game.situation.condition  %>
                    <% end %>
                  </li>
                  <li>
                    <i class="fa fa-shapes" aria-hidden="true"></i>
                    遊戲道具：
                    <strong><%= game.tool %></strong>
                  </li>
                </ul>
                <% if game.url.present? %>
                  <p>youtube:</p>
                  <!-- 4:3 aspect ratio -->
                  <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src='<%= @youtube_url %>' frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  </div>
                <% end %>
                <p>遊戲方式：</p>
                <p><%= render_with_hashtags(game.step) %></p>
                <ul class="list-inline socailLink">
                  <%# social share button  %>
                  <hr class="pd-des-container-bottom-line">
                  <div class="product-show__social-share-button">
                    <%# FB： URL用相對路徑會噴錯必須用全網址  %>
                    <%= social_share_button_tag(game.title, :allow_sites => %w(facebook twitter email google_plus ), :image => game.image, desc:game.tool,:url => @url) %>
                  </div>
                </ul>
              </div>
            </div>
            <div class="blogComments">
              <h3><%= game.replies_count %> Comments</h3>
              <ul class="media-list commentsList">
                <% game.replies.each do |reply| %>
                  <li class="media">
                    <div class="media-left">
                      <% if reply.user.avatar? %> 
                        <%= image_tag reply.user.avatar, width: "30px", class: "rounded img-circle"%>
                      <% else %>
                        <i class="fa fa-user-edit" aria-hidden="true"></i>
                      <% end %>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading"><%= reply.user.name %></h4>
                      <p><%= time_ago_in_words(reply.created_at) %> ago</p>
                      <p><%= reply.content %></p>
                      <% if current_user %>
                        <% if reply.user.email == current_user.email || current_user.role == "admin" %>
                            <%= link_to "刪除", game_reply_path(game, reply), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-primary pull-right" %>
                        <% end %>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="blogComments">
              <h3 class="color-2">Leave A Reply</h3>
              <div class="homeContactContent">
                <div class="row">
                  <%= form_for [game, @reply] do |f| %>
                    <div class="col-xs-12">
                      <div class="form-group">
                        <%= f.text_area :content, placeholder: "put your reply here", class: "form-control border-color-4" %>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="form-group pull-right">
                        <%= f.submit '送出留言', class: "btn btn-primary" %>&nbsp;&nbsp;
                        <%= f.button "清除留言", type: :reset, class: "btn btn-outline-primary" %>
                      </div>
                    </div>  
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>