<div class="col-sm-3 col-xs-6 block">
  <div class="thumbnail thumbnailContent">
    <%= link_to game_path(game) do %>
      <% if game.url.present? && game.image.blank? %>
        <%= image_tag YouTubeRails.extract_video_image("#{game.url}", 'high'), class:"img-responsive" %>
      <% else %>
        <%= image_tag game.image, class:"img-responsive" %>
      <% end %>
       <% if current_user && game.suitable_age?(current_user) %>
        <div class="sticker bg-color-2">
          適齡
        </div>
      <% end %>
      <div class="caption border-color-<%= game.situation_games.present? ? game.situation_games.first.situation_id : 1 %>">
        <h3 class="color-<%= game.situation_games.present? ? game.situation_games.first.situation_id : 1 %>"><%= game.title %></h3>

        <ul class="list-inline">
        <li class="pull-right">發表者&nbsp;<%= game.user.name %></li>
          <li>
            <i class="fa fa-child" aria-hidden="true"></i>
            <% game.age_games.each do |age_game| %>
              <%=  age_game.age.name %>
            <% end %>
          </li>
          <li>
            <i class="fa fa-theater-masks" aria-hidden="true"></i>
            <% game.situation_games.each do |situation_game| %>
              <%= situation_game.situation.condition  %>
            <% end %>
          </li>
          <li>
            <i class="far fa-heart" aria-hidden="true"></i>
              <%=  game.favorites_count %>
          </li>
          <li>
            <i class="far fa-comment" aria-hidden="true"></i>
              <%=  game.replies_count %>
          </li>
          <li>
            <% if game.tags.present? %><i class="fas fa-hashtag" aria-hidden="true"></i> <% end %>
              <% game.tags.each do |tag| %>
              <button class="btn btn-sm btn-outline-info"><%= link_to tag.name, "/games/hashtag/#{tag.name}" %></span></button>
            <% end %>
          </li>
        </ul>
        <ul class="list-inline btn-yellow btnPart">
          <li><%= render partial: "shared/favorite", locals:{game: game} %> </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
