<div class="media-left">
  <% if reply.user.avatar? %>
    <%= image_tag reply.user.avatar, width: "50px", class: "rounded img-circle"%>
  <% else %>
    <i class="fa fa-user" aria-hidden="true"></i>
  <% end %>
</div>
<div class="media-body">
  <h4 class="media-heading"><%= link_to reply.user.name, user_path(reply.user) %></h4>
  <p><%= time_ago_in_words(reply.created_at) %> ago</p>
  <p><%= reply.content %></p>
  <% if current_user %>
    <% if reply.user.email == current_user.email || current_user.role == "admin" %>
      <%= link_to "刪除", game_reply_path(game, reply), remote: true, method: :delete, data: { confirm: "你確定嗎?"}, class: "btn btn-primary pull-right" %>
    <% end %>
  <% end %>
</div>
