<section class="mainContent full-width clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-xs-12">
          <%= form_with(model: game, local: true) do |form| %>
            <% if game.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(game.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                <% game.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>



        <div class="homeContactContent">
            <div class="form-group">
              <%= form.label "遊戲標題" %>
              <%= form.text_field :title, class: "form-control border-color-3" %>
            </div><br>
           
              
              <br><br>
              
              
            <div class="form-group">
              <%= collection_check_boxes(:age_game, :age_id, Age.all, :id, :name,  {prompt:true}) do|b| %>
              <%= b.label class:"btn btn-warning btn-xl btn-pill" do %>
                  <%= b.check_box + b.text  %>
                <% end %>
              <% end %>
            </div><br>
            <div class="form-group">
              <div class="col-sm-8 col-xs-12">
              <div class="priceRange">
                <div class="price-slider-inner">
                  <%= form.hidden_field :min_age %>
                  <strong>-</strong>
                  <%= form.hidden_field :max_age  %>
                  <span class="amount-wrapper">
                    適合年齡：
                    <input type="text" id="price-amount-1" readonly>
                    <strong>-</strong>
                    <input type="text" id="price-amount-2" readonly>
                  </span>
                  <div id="price-range"></div>
                </div>
              </div>
            </div> <br>

              

            <div class="form-group">  
             <p> 適玩情境：</p>
              <%= collection_check_boxes(:situation_game, :situation_id, Situation.all, :id, :condition) do |b|  %>
                <%= b.label class:"btn btn-success btn-xl btn-pill" do %>
                  <%= b.check_box + b.text  %>
                <% end %>
              <% end %>
            </div><br>
            <div class="form-group ">
              <%= image_tag game.image, size: 2.0 %>
              <%= form.file_field :image %>
            </div>

            <div class="form-group">
              <%= form.label "YouTube分享連結" %>
              <%= form.text_field :url, class: "form-control border-color-2", placeholder: 'https://youtu.be/HP-MbfHFUqs(YouTube分享連結格式)' %>
            </div>

            <div class="form-group">
              <%= form.label "遊戲道具" %><br />
              <%= form.text_field :tool, class: "form-control border-color-4" %>
            </div>

            <div class="form-group">
              <%= form.label "遊戲方法" %><br />
              <%= form.text_area :step, class: "form-control border-color-5" %>
            </div>

            <div class="form-gruop pull-right">
              <%= form.submit "發表遊戲", class: "btn btn-primary" %>
              <%= link_to "清除內容", games_path, class: "btn btn-outline-primary" %>
            </div>   

          <% end %>
        </div>
      </div>
    </div>  
  </div>
</div>
<script>
  /*======== 11.PRICE SLIDER RANGER  ========*/
  $(document).ready(function() {
    var slider = $("#price-range").slider({
        range: true,
        min: 0,
        max: 12,
        values: [ 3, 8] ,
        slide: function(event, ui) {
            $("#form_min_age").val(ui.values[0]);
            $("#form_max_age").val(ui.values[1]);
        }
    });
    $("#form_min_age").val(slider.slider("values")[0]);
    $("#form_max_age").val(slider.slider("values")[1]);
});
</script>