
<section class="mainContent full-width clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% games.each do |game| %>
          <div class="media courseList couresListPage" >
            <%= link_to game_path(game), class:"media-left border-color-1" do %>
              <% if game.url.present? && game.image.blank? %>
                <%= image_tag YouTubeRails.extract_video_image("#{game.url}", 'high'), class:"img-responsive" %>
              <% else %>
                <%= image_tag game.image, class:"img-responsive" %>
              <% end %>
              <% if current_user && game.suitable_age?(current_user) %>
                <span class="sticker bg-color-2">
                  適齡
                </span>
              <% end %>
            <% end %>
            <div class="media-body">
              <h3 class="media-heading"><%= link_to game.title, game_path(game), class: game.situation_games.present? ? "color-#{ game.situation_games.first.situation_id }" : "color-1"%></h3>
              <p class="pull-right">發表者&nbsp;<%= render partial: "shared/link_user_avatar", locals:{user: game.user} %> </p>
              <ul class="list-inline">
                <li>
                  <i class="fa fa-child" aria-hidden="true"></i>
                  <% game.age_games.each do |age_game| %>
                    <%=  age_game.age.name %>
                  <% end %>
                </li>
                <li>
                  <i class="fa fa-theater-masks" aria-hidden="true"></i>
                  <% game.situation_games.each do |situation_game| %>
                    <%= situation_game.situation.condition  %>
                  <% end %>
                </li>
                <li>
                  <i class="far fa-heart" aria-hidden="true"></i>
                    <%=  game.favorites_count %>
                </li>
                <li>
                  <i class="far fa-comment" aria-hidden="true"></i>
                    <%=  game.replies_count %>
                </li>
                <li>
                  <% if game.tags.present? %><i class="fas fa-hashtag" aria-hidden="true"></i> <% end %>
                    <% game.tags.each do |tag| %>
                    <button class="btn btn-sm btn-outline-info"><%= link_to tag.name, "/games/hashtag/#{tag.name}" %></span></button>
                  <% end %>
                </li>
              </ul>
              <p>
                <i class="fa fa-shapes" aria-hidden="true"></i>
                <strong><%= game.tool %></strong>
              </p>
              <p><%= truncate(game.step, length: 300) %></p>
              <br>
              <ul class="list-inline btn-yellow btnPart">
                <li><%= render partial: "shared/favorite", locals:{game: game} %> </li>
              </ul>
              <p><%= link_to '>>查看完整遊戲內容', game_path(game), class:"text-link pull-right" %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
