<%# game info %>
<h1>Game#show</h1>
<p>標題:<%= game.title %></p>
<p>發表者：<%= image_tag game.user.avatar %><%= link_to game.user.name, user_path(game.user)%></p>
<p>收藏數：<%= game.favorites.size %></p>
<p>回應數：<%= game.replies.size %></p>
<p>加入收藏</p>
<p>遊戲圖片:<%= image_tag game.image %></p>
<p>適玩情境：
  <% game.situation_games.each do |situation_game| %>
    <%= link_to situation_game.situation.condition, situation_path(situation_game.situation) %>
  <% end %>
</p>
<p>適合年齡：
   <% @age_games.each do |age_game| %>
    <%= link_to age_game.age.name, age_path(age_game.age) %>
  <% end %>
</p>
<p>遊戲道具：<%= game.tool %></p>
<p>遊戲方式：<%= render_with_hashtags(game.step) %></p>
<% if game.url.present? %>
  <p>youtube:</p>
  <iframe width="420" height="315" src= '<%= @youtube_url %>' frameborder="0" allowfullscreen></iframe>
<% end %>
<hr>

<%# social share button  %>
<hr class="pd-des-container-bottom-line">
<div class="product-show__social-share-button">
  <%# FB： URL用相對路徑會噴錯必須用全網址  %>
  <%= social_share_button_tag(game.title, :allow_sites => %w(facebook twitter email google_plus ), :image => game.image, desc:game.tool,:url => @url) %>
</div>
<hr>
<p>--Replies--</p>
<%# replies display %>
<% game.replies.each do |reply| %>
  <p><%= reply.user.name %></p>
  <p><%= reply.content %></p>
  <% if current_user %>
    <% if reply.user.email == current_user.email || current_user.role == "admin" %>
        <%= link_to "刪除", game_reply_path(game, reply), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-default" %>
    <% end %>
  <% end %>
  <hr>
<% end %>

<%# New reply form %>
<div class="container">
  <div class="row">
   <%= form_for [game, @reply] do |f| %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "put your reply here", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
    </div>
  <% end %>
  </div>
</div>
