<section class="mainContent full-width clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-xs-12">
          <%= form_with(model: game, local: true) do |form| %>
            <% if game.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(game.errors.count, "error") %> prohibited this user from being saved:</h2>

                <ul>
                <% game.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

        <div class="homeContactContent">
            <div class="form-group">
              <%= form.label "遊戲標題" %>
              <%= form.text_field :title, class: "form-control border-color-3" %>
            </div><br>

            <div class="form-group">
              <%= form.label "適玩情境" %> <br>
                <%= collection_check_boxes(:situation_game, :situation_id, Situation.all, :id, :condition) do |b|  %>
                  <%= b.label class:"btn btn-info btn-xl btn-pill" do %>
                    <%= b.check_box + b.text  %>
                  <% end %>
                <% end %>
              </div><br>
           <%= collection_check_boxes(:age_game, :age_id, Age.all, :id, :name,  {prompt:true}) do|b| %>
              <%= b.label class:"btn btn-warning btn-xl btn-pill" do %>
                  <%= b.check_box + b.text  %>
                <% end %>
              <% end %>
            <div class="form-group col-sm-8 col-xs-12">
              <div class="ageRange">
                <div class="price-slider-inner">
                  <%= form.label "適合年齡：" %>
                  <%= form.hidden_field :min_age, id:"min_age" %>
                  <%= form.hidden_field :max_age, id:"max_age" %>
                  <span class="amount-wrapper">
                    <input type="text" id="game_min_age" readonly>
                    <strong>至</strong>
                    <input type="text" id="game_max_age" readonly>
                    <strong>歲</strong>
                  </span>
                  <div id="age-range"></div>
                </div>  
              </div>
            </div> <br>
              
            <div class="form-group ">
              <%= image_tag game.image, size: 2.0 %>
              <%= form.file_field :image %>
            </div>

            <div class="form-group">
              <%= form.label "YouTube分享連結" %>
              <%= form.text_field :url, class: "form-control border-color-2", placeholder: 'https://youtu.be/HP-MbfHFUqs(YouTube分享連結格式)' %>
            </div>

            <div class="form-group">
              <%= form.label "遊戲道具" %><br />
              <%= form.text_field :tool, class: "form-control border-color-1" %>
            </div>

            <div class="form-group">
              <%= form.label "遊戲方法" %><br />
              <%= form.text_area :step, class: "form-control border-color-5" %>
            </div>

            <div class="form-gruop pull-right">
              <%= form.submit "發表遊戲", class: "btn btn-primary" %>
              <%= link_to "清除內容", games_path, class: "btn btn-outline-primary" %>
            </div>   

          <% end %>
        </div>
      </div>
    </div>  
  </div>
</div>
