<p>
  <%= image_tag user.avatar, size:100%>
</p>

<p>
  <% if user.kid_age.blank? %>
    <strong>？歲孩子的玩伴<strong>
    <p><%= "(未填寫孩子的生日,記得到Edit Profile填寫小孩的生日)" if user == current_user %></p>
  <% else %>
    <strong><%= user.kid_age %>歲孩子的玩伴<strong>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= user.name %>
</p>

<p>
  <strong>Intro:</strong>
  <%= user.intro %>
</p>
<% if current_user %>
  <% if user.email == current_user.email %>
    <%= link_to 'Edit Profile', edit_user_path(current_user) , class: "btn btn-primary" %>
    <%= link_to '修改密碼', edit_user_registration_path(current_user), class: "btn btn-primary" %>
  <% end %>
<% end %>
<%= link_to 'Back', :back %>

<p><%= render partial: "shared/follow", locals: {user: user} %></p>
<hr>
