<section class="mainContent full-width clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-xs-12">
        <%= form_with(model: user, local: true) do |form| %>
          <% if user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(user.errors.count, "error") %> 禁止使用者被儲存:</h2>

              <ul>
              <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="homeContactContent">
            <div class="form-group">
              <%= image_tag current_user.avatar, size: 110 %>
              <%= form.file_field :avatar %>
            </div>

            <div class="form-group">
              <%= form.label "姓名" %>
              <%= form.text_field :name, class: "form-control border-color-1" %>
            </div>

            <div class="form-group">
              <%= form.label "孩子的生日:" %><br />
              <%= form.date_select :kid_birth, {order: [:year, :month, :day ], prompt: { year: '西元年', month: '月份', day: '日期'  }, start_year: Date.today.year, end_year: Date.today.year - 12, use_two_digit_numbers: true} %>
            </div>

            <div class="form-group">
              <%= form.label "個人簡介" %>
              <%= form.text_area :intro, class: "form-control border-color-2" %>
            </div>

            <div class="form-gruop">
              <%= form.submit "儲存更新", class: "btn btn-primary" %>
              <%= link_to "取消變更", user_path(@user), class: "btn btn-outline-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
