
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="teachersPhoto">
          <%= image_tag user.avatar, alt:"image", class:"img-rounded img-responsive" %>
        </div><br />
        <div>
          <% if current_user %>
            <% if user.email == current_user.email %>
              <%= link_to '編輯個人檔案', edit_user_path(current_user) , class: "btn btn-sm btn-outline-info not-rounded" %>
              <%= link_to '修改密碼', edit_user_registration_path(current_user), class: "btn btn-sm btn-outline-info not-rounded" %>
              <%= link_to '我的悄悄話', messages_user_path(current_user), class: "btn btn-sm btn-outline-info not-rounded" %>
            <% end %>
          <% end %>
        </div>
        <div>
          <p><%= render partial: "shared/follow", locals: {user: user} %></p>
        </div>
      </div>
      <div class="col-sm-8 col-xs-12">
        <div class="teachersInfo">
          <% if user.kid_age.blank? %>
            <h3>？歲孩子的玩伴</h3>
            <%= "(未填寫孩子的生日,記得到編輯個人檔案中填寫孩子的生日！)" if user == current_user %>
          <% else %>
            <h3><%= user.kid_age %>歲孩子的玩伴</h3>
          <% end %>
          <div class="teachersProfession bg-color-1">姓名</div>
          <div class="professionDetails"><%= user.name %></div>
          <div class="teachersProfession bg-color-2">個人簡介</div>
          <div class="professionDetails"><%= user.intro %></div>
        </div>
      </div>
    </div>
  </div>


