 <% content_for :page_js do %>
  <script>
  function toggleSpeech() {
    var msg = new SpeechSynthesisUtterance('請說 我們來玩 啟動語音推薦', ["zh-TW", 1, 1, 0.7]);
    window.speechSynthesis.speak(msg);
    setTimeout(function() {
      function speechRecognition2() {
        if (!("webkitSpeechRecognition" in window)) {
          alert("本瀏覽器不支援語音辨識，請更換瀏覽器！(Chrome 25 版以上才支援語音辨識)");
        } else {
          window._recognition = new webkitSpeechRecognition();
          window._recognition.continuous = true;
          window._recognition.interimResults = true;
          window._recognition.lang = "cmn-Hant-TW";

          window._recognition.onstart = function() {
            window._recognition.status = true;
            console.log("Start recognize...");
          };

          window._recognition.onend = function() {
            console.log("Stop recognize");
            if (window._recognition.status) {
              window._recognition.start();
            }
          };

          window._recognition.onresult = function(event, result) {
            result = {};
            result.resultLength = event.results.length - 1;
            result.resultTranscript = event.results[result.resultLength][0].transcript;
            if (event.results[result.resultLength].isFinal === false) {
              console.log(result.resultTranscript);
              if (result.resultTranscript.indexOf("我們來玩") !== -1) {
                var age = new SpeechSynthesisUtterance('好的寶貝請問你幾歲', ["zh-TW", 1, 1, 0.7]);
                window.speechSynthesis.speak(age);

                function speechRecognition() {
                  if (!("webkitSpeechRecognition" in window)) {
                    alert("本瀏覽器不支援語音辨識，請更換瀏覽器！(Chrome 25 版以上才支援語音辨識)");
                  } else {
                    window._recognition = new webkitSpeechRecognition();
                    window._recognition.continuous = true;
                    window._recognition.interimResults = true;
                    window._recognition.lang = "cmn-Hant-TW";

                    window._recognition.onstart = function() {
                      window._recognition.status = true;
                      console.log("Start recognize...");
                    };

                    window._recognition.onend = function() {
                      console.log("Stop recognize");
                      if (window._recognition.status) {
                        window._recognition.start();
                      }
                    };

                    window._recognition.onresult = function(event, result) {
                      result = {};
                      result.resultLength = event.results.length - 1;
                      result.resultTranscript = event.results[result.resultLength][0].transcript;
                      if (event.results[result.resultLength].isFinal === false) {
                        console.log(result.resultTranscript);
                        if (result.resultTranscript.indexOf("兩歲") !== -1) {
                          window._recognition.status = false;
                          window._recognition.stop();
                          var year2 = new SpeechSynthesisUtterance('那要不要玩', ["zh-TW", 1, 1, 0.7]);
                          window.speechSynthesis.speak(year2);
                          console.log(event.results[result.resultLength]);
                          window.location.href = "https://www.ac-letsplay.site/games/random?utf8=✓&age_game%5Bage_id%5D=3&situation_game%5Bsituation_id%5D=&speech%5D=1&commit=推薦遊戲";
                        }
                        if (result.resultTranscript.indexOf("3歲") !== -1) {
                          window._recognition.status = false;
                          window._recognition.stop();
                          var year3 = new SpeechSynthesisUtterance('那要不要玩', ["zh-TW", 1, 1, 0.7]);
                          window.speechSynthesis.speak(year3);
                          console.log(event.results[result.resultLength]);
                          window.location.href = "https://www.ac-letsplay.site/games/random?utf8=✓&age_game%5Bage_id%5D=4&situation_game%5Bsituation_id%5D=&speech%5D=1&commit=推薦遊戲";
                        }
                        if (result.resultTranscript.indexOf("4歲") !== -1) {
                          window._recognition.status = false;
                          window._recognition.stop();
                          var year4 = new SpeechSynthesisUtterance('那要不要玩', ["zh-TW", 1, 1, 0.7]);
                          window.speechSynthesis.speak(year4);
                          console.log(event.results[result.resultLength]);
                          window.location.href = "https://www.ac-letsplay.site/games/random?utf8=✓&age_game%5Bage_id%5D=5&situation_game%5Bsituation_id%5D=&speech%5D=1&commit=推薦遊戲";
                        }
                        if (result.resultTranscript.indexOf("5歲") !== -1) {
                          window._recognition.status = false;
                          window._recognition.stop();
                          var year5 = new SpeechSynthesisUtterance('那要不要玩', ["zh-TW", 1, 1, 0.7]);
                          window.speechSynthesis.speak(year5);
                          console.log(event.results[result.resultLength]);
                          window.location.href = "https://www.ac-letsplay.site/games/random?utf8=✓&age_game%5Bage_id%5D=6&situation_game%5Bsituation_id%5D=&speech%5D=1&commit=推薦遊戲";
                        }
                        if (result.resultTranscript.indexOf("6歲") !== -1) {
                          window._recognition.status = false;
                          window._recognition.stop();
                          var year6 = new SpeechSynthesisUtterance('那要不要玩', ["zh-TW", 1, 1, 0.7]);
                          window.speechSynthesis.speak(year6);
                          console.log(event.results[result.resultLength]);
                          window.location.href = "https://www.ac-letsplay.site/games/random?utf8=✓&age_game%5Bage_id%5D=7&situation_game%5Bsituation_id%5D=&speech%5D=1&commit=推薦遊戲";
                        }
                        if (result.resultTranscript.indexOf("7歲") !== -1) {
                          window._recognition.status = false;
                          window._recognition.stop();
                          var year7 = new SpeechSynthesisUtterance('那要不要玩', ["zh-TW", 1, 1, 0.7]);
                          window.speechSynthesis.speak(year7);
                          console.log(event.results[result.resultLength]);
                          window.location.href = "https://www.ac-letsplay.site/games/random?utf8=✓&age_game%5Bage_id%5D=8&situation_game%5Bsituation_id%5D=&speech%5D=1&commit=推薦遊戲";
                        }
                        if (result.resultTranscript.indexOf("8歲") !== -1) {
                          window._recognition.status = false;
                          window._recognition.stop();
                          var year8 = new SpeechSynthesisUtterance('那要不要玩', ["zh-TW", 1, 1, 0.7]);
                          window.speechSynthesis.speak(year8);
                          console.log(event.results[result.resultLength]);
                          window.location.href = "https://www.ac-letsplay.site/games/random?utf8=✓&age_game%5Bage_id%5D=9&situation_game%5Bsituation_id%5D=&speech%5D=1&commit=推薦遊戲";
                        }
                        if (result.resultTranscript.indexOf("9歲" || "九歲") !== -1) {
                          window._recognition.status = false;
                          window._recognition.stop();
                          var year9 = new SpeechSynthesisUtterance('那要不要玩', ["zh-TW", 1, 1, 0.7]);
                          window.speechSynthesis.speak(year9);
                          console.log(event.results[result.resultLength]);
                          window.location.href = "https://www.ac-letsplay.site/games/random?utf8=✓&age_game%5Bage_id%5D=10&situation_game%5Bsituation_id%5D=&speech%5D=1&commit=推薦遊戲";
                        }
                        if (result.resultTranscript.indexOf("10歲") !== -1) {
                          window._recognition.status = false;
                          window._recognition.stop();
                          var year10 = new SpeechSynthesisUtterance('那要不要玩', ["zh-TW", 1, 1, 0.7]);
                          window.speechSynthesis.speak(year10);
                          console.log(event.results[result.resultLength]);
                          window.location.href = "https://www.ac-letsplay.site/games/random?utf8=✓&age_game%5Bage_id%5D=11&situation_game%5Bsituation_id%5D=&speech%5D=1&commit=推薦遊戲";
                        }
                        if (result.resultTranscript.indexOf("11歲") !== -1) {
                          window._recognition.status = false;
                          window._recognition.stop();
                          var year11 = new SpeechSynthesisUtterance('那要不要玩', ["zh-TW", 1, 1, 0.7]);
                          window.speechSynthesis.speak(year11);
                          console.log(event.results[result.resultLength]);
                          window.location.href = "https://www.ac-letsplay.site/games/random?utf8=✓&age_game%5Bage_id%5D=12&situation_game%5Bsituation_id%5D=&speech%5D=1&commit=推薦遊戲";
                        }
                        if (result.resultTranscript.indexOf("12歲") !== -1) {
                          window._recognition.status = false;
                          window._recognition.stop();
                          var year12 = new SpeechSynthesisUtterance('那要不要玩', ["zh-TW", 1, 1, 0.7]);
                          window.speechSynthesis.speak(year12);
                          console.log(event.results[result.resultLength]);
                          window.location.href = "https://www.ac-letsplay.site/games/random?utf8=✓&age_game%5Bage_id%5D=13&situation_game%5Bsituation_id%5D=&speech%5D=1&commit=推薦遊戲";
                        }
                      } else if (event.results[result.resultLength].isFinal === true) {
                        console.log("final");
                      }
                    };
                    window._recognition.start();
                  }
                }
                speechRecognition();
                console.log(event.results[result.resultLength]);
              }
            } else if (event.results[result.resultLength].isFinal === true) {
              console.log("final");
            }
          };
          window._recognition.start();
        }
      }
      speechRecognition2();
    }, 1000 * 4);
  }
  </script>
  <% end %>
 <!-- ====================================
    ——— BANNER TWO
    ===================================== -->
    <section class="bannercontainer bannercontainerV2">
      <div class="fullscreenbanner-container">
        <div class="fullscreenbanner">
          <ul>
            <li data-transition="fade" data-slotamount="5" data-masterspeed="700"  data-title="Random a Game">
              <div class="slider-caption container">

                <!-- LAYER NR. 1 -->
                <div class="tp-caption rs-caption-1 sft text-center"
                  data-hoffset="0"
                  data-x="center"
                  data-y="130"
                  data-speed="1200"
                  data-start="1600"
                  data-easing="Back.easeInOut"
                  data-endspeed="300"
                  style="z-index: 5; color: #666666;">
                  今天想陪孩子<span>玩什麼？</span>
                </div>
                <!-- LAYER NR. 2 -->
                <div class="tp-caption rs-caption-2 sft text-center"
                  data-hoffset="0"
                  data-x="center"
                  data-y="245"
                  data-speed="1800"
                  data-start="2000"
                  data-easing="Back.easeInOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off"
                  style="z-index: 5;color: #666666;">
                  <%# select age and situation, rand a game  %>
                    <%= form_tag '/games/random', method: :get do %>
                      <%= collection_select(:age_game, :age_id, Age.all, :id, :name,  {prompt:"選擇孩子年齡"}, {:class => 'roundOne border-color-2'}) %>
                      <%= collection_select(:situation_game, :situation_id, Situation.all, :id, :condition, {prompt:"選擇遊戲情境"}, {:class => 'dropGeneral roundOne border-color-2'}) %>
                      <%= submit_tag "推薦遊戲", class:'btn btn-success' %>
                    <% end %>
                  請用下拉選單設定遊戲條件,或按麥克風啟動語音簡易推薦
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption rs-caption-3 sft text-center"
                  data-hoffset="0"
                  data-x="center"
                  data-y="350"
                  data-speed="2000"
                  data-start="3000"
                  data-easing="Power4.easeOut"
                  data-endspeed="300"
                  data-endeasing="Power1.easeIn"
                  data-captionhidden="off"
                  style="z-index: 5;">
                  <button type="button" class="btn btn-xl btn-primary btn-pill" id="speech" onclick="toggleSpeech();"><i class="fas fa-microphone fa-2x"></i></button>
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme sfl stl"
                  data-x="left"
                  data-hoffset="-70"
                  data-y="100"
                  data-speed="500"
                  data-easing="Power1.easeIn"
                  data-endeasing="Power1.easeInOut"
                  data-endspeed="200"
                  style="z-index: 2;">
                  <img src="/assets/home/sliderv4/caption-img5.png" alt="caption" width="580" height="491">
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption tp-resizeme sfr str"
                  data-x="right"
                  data-hoffset="100"
                  data-y="100"
                  data-speed="500"
                  data-easing="Power1.easeIn"
                  data-endeasing="Power1.easeInOut"
                  data-endspeed="300"
                  style="z-index: 2;">
                  <img src="/assets/home/sliderv4/caption-img4.png" alt="caption" width="567" height="564">
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption tp-resizeme start"
                  data-x="170"
                  data-y="34"
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="/assets/home/sliderv4/caption8.png" alt="caption" width="71" height="82">
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption tp-resizeme sfl stl"
                  data-x="left"
                  data-hoffset="-90"
                  data-y="100"
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="/assets/home/sliderv4/caption6.png" alt="caption" width="51" height="59">
                </div>

                <!-- LAYER NR. 8 -->
                <div class="tp-caption tp-resizeme sfr str"
                  data-x="right"
                  data-hoffset="-270"
                  data-y="34"
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="/assets/home/sliderv4/caption13.png" alt="caption" width="65" height="65">
                </div>

                <!-- LAYER NR. 9 -->
                <div class="tp-caption tp-resizeme sfr str"
                  data-x="right"
                  data-hoffset="-70"
                  data-y="100"
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="/assets/home/sliderv4/caption10.png" alt="caption" width="73" height="56">
                </div>

                <!-- LAYER NR. 10 -->
                <div class="tp-caption tp-resizeme start"
                  data-x="center"
                  data-hoffset="-180"
                  data-y="center"
                  data-voffset="50"
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="/assets/home/sliderv4/caption9.png" alt="caption" width="77" height="50">
                </div>

                <!-- LAYER NR. 11 -->
                <div class="tp-caption tp-resizeme start"
                  data-x="center"
                  data-y="center"
                  data-voffset="100"
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="/assets/home/sliderv4/caption12.png" alt="caption" width="66" height="55">
                </div>

                <!-- LAYER NR. 12 -->
                <div class="tp-caption tp-resizeme sfb stb"
                  data-x="center"
                  data-hoffset="180"
                  data-y="center"
                  data-voffset="50"
                  data-speed="3000"
                  data-easing="Elastic.easeInOut"
                  data-endspeed="300"
                  style="z-index: 1;">
                  <img src="/assets/home/sliderv4/caption11.png" alt="caption" width="61" height="67">
                </div>

              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
 	<!-- ====================================
    ——— index game show
    ===================================== -->
    <section class="mainContent full-width clearfix coursesSection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle text-center ">
              <h2 class="wow fadeInUp">
                <span class="shape shape-left bg-color-4"></span>
                <span>熱門遊戲</span>
                <span class="shape shape-right bg-color-4"></span>
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <% @popular_games.each do |game| %>
            <%= render partial: "shared/game_thumbnail", locals:{game: game}  %>
          <% end %>      
        </div>
      </div>
      <div class="btnArea wow fadeInUp">
        <%= link_to '更多熱門遊戲', popular_games_path, class:"btn btn-primary" %>
      </div>
    </section>   

    <section class="mainContent full-width clearfix coursesSection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle text-center ">
              <h2 class="wow fadeInUp">
                <span class="shape shape-left bg-color-4"></span>
                <span>最新遊戲</span>
                <span class="shape shape-right bg-color-4"></span>
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <% @latest_games.each do |game| %>
            <%= render partial: "shared/game_thumbnail", locals:{game: game}  %>
          <% end %>      
        </div>
      </div>
      <div class="btnArea wow fadeInUp">
        <%= link_to '更多新進遊戲', latest_games_path, class:"btn btn-primary" %>
      </div>
    </section>   
