<h1>Index</h1>
<%#search bar %>
 <%= render partial: "shared/search_bar"%>

<br>
<%= link_to "發表遊戲", new_game_path, class: "btn btn-primary" %>
<br>

<%# latest game %>
<h1>Latest Games</h1>
<% @latest_games.each do |game| %>
  <%= image_tag game.image, size: "200" %>
  <p><%= link_to game.title, game_path(game) %></p>
  <p><%= truncate(game.step, length: 200) %></p>
<% end %>

<%# popular game %>
<h1>Popular Games</h1>
<% @popular_games.each do |game| %>
  <%= image_tag game.image, size: "200" %>
  <p><%= link_to game.title, game_path(game) %></p>
  <p><%= truncate(game.step, length: 200) %></p>
<% end %>

<%# game situations %>
