<% content_for :page_js do %>
  <script>
  function toggleStopReading() {
    window.speechSynthesis.cancel();
  }
  
  function toggleReadStep() {
    var readStep = '遊戲方式  <%= @step_speech %>';
    console.log(readStep);
    var msg2 = new SpeechSynthesisUtterance(readStep, ["zh-TW", 1, 1.5, 0.5]);
    window.speechSynthesis.speak(msg2);
  }
  
  function toggleReadAgain() {
    var again = "<%= @title_speech %>";
    var msg3 = new SpeechSynthesisUtterance(again, ["zh-TW", 1, 1.5, 0.7]);
    window.speechSynthesis.speak(msg3);
  }
  $("#again").mouseenter(function(){
    var msg4 = new SpeechSynthesisUtterance("再唸一次", ["zh-TW", 1, 1.5, 0.7]);
    window.speechSynthesis.speak(msg4);
  });
    $("#step").mouseenter(function(){
    var msg5 = new SpeechSynthesisUtterance("唸遊戲方法", ["zh-TW", 1, 1.5, 0.7]);
    window.speechSynthesis.speak(msg5);
  });
    $("#stop").mouseenter(function(){
    var msg6 = new SpeechSynthesisUtterance("不要說了", ["zh-TW", 1, 1.5, 0.7]);
    window.speechSynthesis.speak(msg6);
  });
    $("#reload").mouseenter(function(){
    var msg7 = new SpeechSynthesisUtterance("看其它遊戲", ["zh-TW", 1, 1.5, 0.7]);
    window.speechSynthesis.speak(msg7);
  });
  var speech = <%= @speech %>;
  console.log(speech);
  if (speech == 1) {
    var title = '<%= @title_speech %> 玩這個還是要換一個';
    var msg1 = new SpeechSynthesisUtterance(title, ["zh-TW", 1, 1.5, 0.7]);
    window.speechSynthesis.speak(msg1);
    setTimeout(function() {
      function speechRecognition() {
        if (!("webkitSpeechRecognition" in window)) {
          alert("本瀏覽器不支援語音辨識，請更換瀏覽器！(Chrome 25 版以上才支援語音辨識)");
        } else {
          window._recognition = new webkitSpeechRecognition();
          window._recognition.continuous = true;
          window._recognition.interimResults = true;
          window._recognition.lang = "cmn-Hant-TW";
          window._recognition.onstart = function() {
            window._recognition.status = true;
            console.log("Start recognize...");
          };
          window._recognition.onend = function() {
            console.log("Stop recognize");
            if (window._recognition.status) {
              window._recognition.start();
            }
          };
          window._recognition.onresult = function(event, result) {
            result = {};
            result.resultLength = event.results.length - 1;
            result.resultTranscript = event.results[result.resultLength][0].transcript;
            if (event.results[result.resultLength].isFinal === false) {
              console.log(result.resultTranscript);
              if (result.resultTranscript.indexOf('換') !== -1) {
                history.go(0);
              }
              if (result.resultTranscript.indexOf('玩') !== -1) {
                window._recognition.status = false;
                window._recognition.stop();
                var step = '遊戲方式 <%= @step_speech %> ';
                console.log(step);
                var msg2 = new SpeechSynthesisUtterance(step, ["zh-TW", 1, 1.5, 0.5]);
                window.speechSynthesis.speak(msg2);
              }
            } else if (event.results[result.resultLength].isFinal === true) {
              console.log("final");
            }
          };
          window._recognition.start();
        }
      }
      speechRecognition();
    }, 1000 * 4);
  }
  </script>
  <% end %>
<section>
  <div class="container">
        <div class="row">
        <br><br>
          <div class="col-xs-12">
            <div class="sectionTitle text-center ">
              <h2 class="wow fadeInUp">
                <span class="shape shape-left bg-color-4"></span>
                <!-- speech interactive buttons -->
                  <% if @speech %>
                    <button class="btn btn-info btn-xl btn-pill" id="again" onclick="toggleReadAgain();">
                      <i class="fas fa-volume-up fa-2x"></i>
                      <strong>唸標題</strong>
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-warning btn-xl btn-pill" id="step" onclick="toggleReadStep();" >
                      <i class="fas fa-list-ol fa-2x"></i>
                       <strong>唸方式</strong>
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-danger btn-xl btn-pill" id="stop" onclick="toggleStopReading();" >
                      <i class="fas fa-comment-slash fa-2x"></i>
                       <strong>停止朗讀</strong>
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                  <% end %>
                  <a href= #{url} >
                    <button class="btn btn-success btn-xl btn-pill" id="reload">
                      <i class="fas fa-redo fa-2x"></i>
                       <strong>再推薦</strong>
                    </button>
                  </a>
                <span class="shape shape-right bg-color-4"></span>
              </h2>
            </div>
          </div>
        </div>



<%= render partial: "shared/game", locals:{game: @game}  %>