<section class="pageTitleSection">
  <div class="container">
    <div class="pageTitleInfo">
      <h2>所有標簽</h2>
    </div>
  </div>
</section>
<br><br>
<div class="panel panel-boby">
  <% @tags.each do |tag| %>
    <%= link_to "/games/hashtag/#{tag.name}" do %>
      <div class="btn
        <%= 'btn-outline-info btn-sm' if tag.games.size <= 2 %>
        <%= 'btn-outline-success' if  tag.games.size > 2 && tag.games.size <= 5  %>
        <%= 'btn-outline-primary btn-xl' if tag.games.size > 5 %>
        ">
        <%= tag.name %>
      </div>
    <% end %>
  <% end %>
  </div>