<!DOCTYPE html>
<html>

<head>
  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Let's Play </title>
  <!-- GOOGLE FONT -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,300,600,700' rel='stylesheet' type='text/css'>
  <!-- Icons -->
  <link rel="shortcut icon" href=<%= image_path("lets_play.ico") %>>
  <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script type="text/javascript">
        if (window.location.hash && window.location.hash == '#_=_') {
          if (window.history && history.pushState) {
            window.history.pushState("", document.title, window.location.pathname);
          } else {
            // Prevent scrolling by storing the page's current scroll offset
            var scroll = {
              top: document.body.scrollTop,
              left: document.body.scrollLeft
            };
            window.location.hash = '';
            // Restore the scroll offset, should be flicker free
            document.body.scrollTop = scroll.top;
            document.body.scrollLeft = scroll.left;
          }
        }
        </script>
</head>

<body class="body-wrapper">
  <div class="main-wrapper">
    <!-- ====================================
    ——— HEADER
    ===================================== -->
    <header id="pageTop" class="header-wrapper">
      <!-- COLOR BAR -->
      <div class="container-fluid color-bar top-fixed clearfix">
        <div class="row">
          <div class="col-sm-1 col-xs-2 bg-color-1">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-2">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-3">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-4">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-5">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-6">fix bar</div>
          <div class="col-sm-1 bg-color-1 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-2 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-3 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-4 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-5 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-6 hidden-xs">fix bar</div>
        </div>
      </div>

      <!-- TOP INFO BAR -->
      <div class="top-info-bar bg-color-7 hidden-xs">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <ul class="list-inline topList">
                <li class="col-sm-8">
                <!--search bar -->
                <%= render partial: "shared/search_bar"%>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="list-inline functionList">
                <% if current_user %>  
                  <li class="nav-item">
                    <span class="navbar-text">
                      咍囉! <%= current_user.name %> 
                    </span>
                  </li>
                  <% if current_user.notifications.present? %>
                    <li class="nav-item">
                      <%= link_to messages_user_path(current_user) do %>
                      你有<%= current_user.notifications.size %>則新訊息
                      <% end %>
                    </li>
                  <% end %>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <i class="fas fa-sign-out-alt bg-color-6"></i> 登出
                    <% end %>
                  </li>
                <% else %>
                  <li>
                    <span class="navbar-text">哈囉! 一起來玩嗎？&nbsp;</span>
                  </li>
                  <li class="nav-item">
                    <%= link_to new_user_registration_path do %>
                      <i class="fas fa-user-plus  bg-color-5"></i> 註冊
                    <% end %>  
                  </li>
                  <li class="nav-item">
                    <%= link_to new_user_session_path do %>
                      <i class="fas fa-sign-in-alt bg-color-6"></i> 登入
                    <% end %>  
                  </li>
                <% end %>  
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- NAVBAR -->
      <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/games"><%= image_tag "logo.png", alt: "Let's Play"%></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="col-xs-12 visible-xs">
              <!--search bar when xs-->
              <%= render partial: "shared/search_bar"%>
              <hr>
            </li>
              <% if current_user %>  
                  <li class="visible-xs">
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <i class="fas fa-sign-out-alt bg-color-6"></i> 
                      <span>登出</span>
                    <% end %>
                  </li>
                <% else %>
                  <li class="visible-xs">
                    <%= link_to new_user_registration_path do %>
                      <i class="fas fa-user-plus  bg-color-5"></i>
                      <span>註冊</span>
                    <% end %>  
                  </li>
                   <li class="visible-xs">
                    <%= link_to new_user_session_path do %>
                      <i class="fas fa-sign-in-alt bg-color-6"></i>
                      <span>登入</span>
                    <% end %>  
                  </li>
                <% end %>
              <% if current_user %>
                <li class="dropdown singleDrop color-5">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-address-card bg-color-5" aria-hidden="true"></i> <span>會員專區</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-left">
                    <li><%= link_to '個資與收藏', user_path(current_user) %></li>
                    <li><%= link_to '遊戲創作', games_user_path(current_user) %></li>
                    <li><%= link_to '評論交流', replies_user_path(current_user) %></li>
                    <li><%= link_to '分齡玩伴', groups_user_path(current_user) %></li>
                  </ul>
                </li>
              <% end %>
              <li class="dropdown singleDrop color-4">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-theater-masks bg-color-4" aria-hidden="true"></i>
                  <span>適合情境</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-left">
                  <% Situation.all.order(id: :asc).each do |situation| %>
                    <li><%= link_to situation.condition, situation_path(situation) %></li>
                  <% end %>
                </ul>
              </li>
              <li class="dropdown singleDrop color-3">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-child bg-color-3" aria-hidden="true"></i>
                  <span>適玩年齡</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li><%= link_to '嬰兒 (0~2歲)', baby_ages_path %></li>
                  <li><%= link_to '幼兒 (3~5歲)', kidergarten_ages_path %></li>
                  <li><%= link_to '低年級(6~7歲)', junior_ages_path %></li>
                  <li><%= link_to '中年級(8~9歲)', middle_ages_path %></li>
                  <li><%= link_to '高年級(10~12歲)', senior_ages_path %></li>
                </ul>
              </li>
              <li class="dropdown singleDrop color-1">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-crown bg-color-1" aria-hidden="true"></i>
                  <span>排行榜</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li><%= link_to '最新遊戲', latest_games_path %></li>
                  <li><%= link_to '熱門遊戲', popular_games_path %></li>
                </ul>
              </li>
              <li class=" dropdown megaDropMenu color-2">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">
                  <i class="fas fa-hashtag bg-color-2" aria-hidden="true"></i>
                  <span>熱門標簽</span>
                </a>
                <ul class="row dropdown-menu">
                  <li class="col-sm-3 col-xs-12">
                    <ul class="list-unstyled">
                      <li>感覺統合</li>
                      <li class=""><a href="/games/hashtag/大肢體">大肢體</a></li>
                      <li class=""><a href="/games/hashtag/小肌肉">小肌肉</a></li>
                      <li class=""><a href="/games/hashtag/五感體驗">五感體驗</a></li>
                      <li class=""><a href="/games/hashtag/音樂律動">音樂律動</a></li>  
                    </ul>
                  </li>
                  <li class="col-sm-3 col-xs-12">
                    <ul class="list-unstyled">
                      <li>育教於樂</li>
                      <li class=""><a href="/games/hashtag/情緒EQ">情緒EQ</a></li>
                      <li class=""><a href="/games/hashtag/科學邏輯">科學邏輯</a></li>
                      <li class=""><a href="/games/hashtag/語言表答">語言表答</a></li>
                      <li class=""><a href="/games/hashtag/生活常規">生活常規</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3 col-xs-12">
                    <ul class="list-unstyled">
                      <li>親子手作</li>
                      <li class=""><a href="/games/hashtag/料理">料理</a></li>
                      <li class=""><a href="/games/hashtag/玩具">玩具</a></li>
                      <li class=""><a href="/games/hashtag/美術">美術</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3 col-xs-12">
                    <ul class="list-unstyled">
                      <li>生活常規</li>
                      <li class=""><a href="/games/hashtag/做家事">做家事</a></li>
                      <li class=""><a href="/games/hashtag/自理">自理</a></li>
                      <li class=""><a href="/games/hashtag/安全">安全</a></li>
                      <li class=""><a href="/games/hashtag/人際禮儀">人際禮儀</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

  <!-- ====================================
  ——— Call controller-action
  ===================================== -->

  <% if flash[:notice] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
      </div>
    </div>
    <% end %>
 
    <% if flash[:alert] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
      </div>
    </div>
    <% end %> 

  <%= yield %>
  <%= yield :page_js %>

    <!-- ====================================
    ——— FOOTER
    ===================================== -->
    <footer class="footer-2">
      <!-- COLOR BAR -->
      <div class="container-fluid color-bar clearfix">
        <div class="row">
          <div class="col-sm-1 col-xs-2 bg-color-1">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-2">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-3">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-4">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-5">fix bar</div>
          <div class="col-sm-1 col-xs-2 bg-color-6">fix bar</div>
          <div class="col-sm-1 bg-color-1 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-2 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-3 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-4 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-5 hidden-xs">fix bar</div>
          <div class="col-sm-1 bg-color-6 hidden-xs">fix bar</div>
        </div>
      </div>
      
      <!-- COPY RIGHT -->
      <div class="copyRight clearfix">
        <div class="container">
          <div class="row">
            <div class="col-sm-5 col-sm-push-7 col-xs-12">
              <ul class="list-inline">
                <li><a href="#" class="bg-color-1"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#" class="bg-color-2"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#" class="bg-color-3"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
                <li><a href="#" class="bg-color-4"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                <li><a href="#" class="bg-color-5"><i class="fab fa-vimeo-v" aria-hidden="true"></i></a></li>
              </ul>
            </div>
            <div class="col-sm-7 col-sm-pull-5 col-xs-12">
              <div class="copyRightText">
                <p>© 2016 Copyright Kidz School Bootstrap Template by <a href="https://www.iamabdus.com/">Abdus</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    </div>

    <div class="scrolling">
      <a href="#pageTop" class="backToTop hidden-xs" id="backToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>
    
  <%= javascript_include_tag 'app' %>
</body>

</html>
